<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.order.dao.OrderDao" >

    <insert id="singleInsert" parameterType="com.demo.entity.Order" keyProperty="id" useGeneratedKeys="true">
        insert into order_tab (order_name, money, state, create_time) values
        (#{orderName,},#{money},#{state},#{createTime,jdbcType=DATE})
    </insert>

    <sql id="update_condition_sql">
        <if test="orderName != null and orderName != ''">
            order_name=#{orderName},
        </if>
        <if test="money != null ">
            money=#{money},
        </if>
        <if test="state != null ">
            state=#{state},
        </if>
        <if test="modifyTime != null ">
            modify_time=#{modifyTime},
        </if>
    </sql>

    <update id="singleUpdate" parameterType="com.demo.entity.Order">
        update order_tab
        <trim prefix="set" suffixOverrides=",">
            <include refid="update_condition_sql"/>
        </trim>
        where id=#{id}
    </update>
</mapper>