<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.storage.dao.StorageDao" >

    <insert id="singleInsert" parameterType="com.demo.entity.Storage" keyProperty="id" useGeneratedKeys="true">
        insert into storage_tab (storage_name, number, state, create_time) values
        (#{storageName},#{number},#{state},#{createTime})
    </insert>

    <sql id="update_condition_sql">
        <if test="storageName != null and storageName != ''">
            storage_name=#{storageName},
        </if>
        <if test="number != null ">
            number=#{number},
        </if>
        <if test="state != null ">
            state=#{state},
        </if>
        <if test="modifyTime != null ">
            modify_time=#{modifyTime},
        </if>
    </sql>

    <update id="singleUpdate" parameterType="com.demo.entity.Storage">
        update storage_tab
        <trim prefix="set" suffixOverrides=",">
            <include refid="update_condition_sql"/>
        </trim>
        where id=#{id}
    </update>
</mapper>